@font-face {
  font-family: Ubuntu;
  src: url("app/assets/fonts/Ubuntu-R.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Ubuntu, -apple-system, "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
